$white: #ffffff;
$gold: #FFC700;
$blue1: #2350B8;
$blue2: #3B4256;
$blue3: #204E78;
$blue4: #13358C;


$mobile1: 360px;
$mobile2: 400px;
$tablet1: 768px;
$tablet2: 992px;
$desktop1: 1200px;
$desktop2: 1440px;
$desktop3: 1920px;