<div class="header-menu">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><circle cx="256" cy="256" r="64"/><circle cx="256" cy="448" r="64"/><circle cx="256" cy="64" r="64"/></svg>
</div>

<aside class="sidebar">
  <nav class="sidebar__nav sidebar__nav-mobile">
    <a class="sidebar__link" href="#n-03">Шойгу Сергей Кужугетович</a>
    <a class="sidebar__link" href="#n-15">Пучков Владимир Андреевич</a>
    <a class="sidebar__link" href="#n-23">Зиничев Евгений Николаевич</a>
  </nav>
  <nav class="sidebar__nav">
    <a class="sidebar__link" href="#s-03">Шойгу Сергей Кужугетович</a>
    <a class="sidebar__link" href="#s-15">Пучков Владимир Андреевич</a>
    <a class="sidebar__link" href="#s-23">Зиничев Евгений Николаевич</a>
  </nav>
</aside>